h1 {
    color: red;
    font-size: 90px;
    text-decoration-line: overline;
}

h2 {
    color: purple;
    font-size: 40px;
}

.small {
    font-size: 12px;
}

p {
    font-size: 32px;
    color: crimson;
}

p span {
    font-size: 40px;
    color: purple;
}